<h1>User ID #: <%= @user.id %> profile</h1>
<div class="user_info">
  <ul>
    <li> User Name: <%= @user.name %> </li>
    <li> Email: <%= @user.email %> </li>
    <li> User Joined: <%= @user.created_at %> </li>
  </ul>
</div>
